h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  font-weight: 200;
}
body {
  background: url('/assets/grey_wash_wall.png');
  /*font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;*/
}
input, button, select, textarea {
  color: black;
}
.alert {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50%;
  margin-left: 17px;
  text-align: -webkit-center;
  padding: 7px;
}
.field_with_errors span{
  margin-left: 5px;
  color: red;
}
small {
  color: red;
}
.badass-box .user {
  font-size: smaller;
}
.navbar.navbar-inverse {
  /*background:url('/assets/grey_wash_wall.png');*/
   border-radius: 0;
   -webkit-box-shadow: 0px 3px 31px 0px rgba(249,249,252,1);
   -moz-box-shadow: 0px 3px 31px 0px rgba(249,249,252,1);
   box-shadow: 0px 3px 31px 0px rgba(249,249,252,1);
}
.navbar-inverse .navbar-brand {
  color: #CBFD02;
  font-family: 'kaushan_scriptregular', sans-serif;
  font-size: 2.1em;
  letter-spacing: -0.3px;
}
.navbar-inverse .navbar-toggle {
  border-color: #CBFD02;
}
#logo_back_tick {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.badass-box {
  -moz-box-shadow: 1px 1px 2.5px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2.5px 0 #d0d0d0;
  background-color: rgba(36,32,33,0.30);
  border-color: #000 #000 #000 #000;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  padding-left: 25px;
  color: #fff;
}
@media only screen and (min-width:900px) {
    .badass-box2 {
      height: 180;
      width: 37.5%;
      display: inline-block;
      overflow: hidden;
    }
}